.DS_Store
.obsidian/workspace.json
.obsidian/cache
.obsidian/workspace-mobile.json
.obsidian/plugins/obsidian-local-rest-api/data.json
.smart-env
.obsidian/graph.json
99 System/scripts/.env
__pycache__/
07 Resources/*
!07 Resources/.gitkeep
